body {
font-family: Georgia, sans-serif;
font-size: 17px;
color: black;
margin: solid 50px white;
padding: 5px 100px;
}

#logo {
  display: flex;
  flex: inline-block;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  align-content: center;
  align-items: center;
  padding: 20px;
  border-bottom: solid 1px black;
}

.navbar {
  display: flex;
  flex: inline-block;
  align-items: right;
  font-size: 14px;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  color: black;
}

h1 {
  display: flex;
  flex: column;
  flex-wrap: wrap;
  height: 300px;
  width: 600px;
  border: solid 1px black;
  color: white;
  font-family: serif, sans-serif;
  background-image: url(./img-story-main.png);
  align-items: center;
}
p {
  display: flex;
  flex: column;
  flex-wrap: wrap;
  width: 600px;
  border: solid 1px white;
  align-content: center;
}

#main {

}
